 <app-patient></app-patient>
 
 
 <!--<nav class="navbar navbar-inverse">
    <div class="container-fluid">
      <div class="navbar-header">
        <p class="network-name">healthrecords@4.0.0.bna</p>
        <p class="navbar-brand">wekahealthrecords</p>
      </div>
      <ul class="nav navbar-nav">
        <li class="dropdown active">
            <a class="dropdown-toggle" data-toggle="dropdown">Assets</a>
            <ul class="dropdown-menu scrollable-menu">
              
              <li><a [routerLink]="['/Record']">Record</a></li>
              
              <li><a [routerLink]="['/Request']">Request</a></li>
              
            </ul>
        </li>
        <li class="dropdown active">
          <a class="dropdown-toggle" data-toggle="dropdown">Participants</a>
          <ul class="dropdown-menu scrollable-menu">
            
            <li><a [routerLink]="['/Patient']">Patient</a></li>
            
            <li><a [routerLink]="['/Doctor']">Doctor</a></li>
            
          </ul>
      </li>
      <li class="dropdown active">
        <a class="dropdown-toggle" data-toggle="dropdown">Transactions</a>
        <ul class="dropdown-menu scrollable-menu">
          
          <li><a [routerLink]="['/CreateRecord']">CreateRecord</a></li>
          
          <li><a [routerLink]="['/CreateRequest']">CreateRequest</a></li>
          
        </ul>
    </li>
      </ul>
    </div>
  </nav>
  
  <router-outlet></router-outlet>

-->
